/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0 0 0px; position: relative;width: 705px;float: left;}
.flex-viewport {}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

/* Direction Nav */
.flex-direction-nav a{width: 22px; height: 35px; margin: -18px 0 0; display: block;  position: absolute; top: 50%; cursor: pointer; text-indent: -9999px;}
.flexslider .flex-next {right: 30px;background: url("../images/slider_next.png") no-repeat;}
.flexslider .flex-prev {left: 30px;background: url("../images/slider_prev.png") no-repeat;}
.flex-direction-nav a:hover{
	background-position: 0 -35px;
}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: 0px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: url('') repeat;cursor: pointer; text-indent: -9999px;}
.flex-control-paging li a:hover, .flex-control-paging li a.flex-active{ background-position:0 0;}
